.header__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__text {
	width: 470px;
}

.header__title {
	position: relative;
	z-index: 9;
	margin-right: -150px;

	margin-bottom: 25px;
	font-weight: bold;
	font-size: 54px;
	line-height: 1.46;
	letter-spacing: 0.8px;
}

.header__text p {
	margin-bottom: 1em;
	line-height: 1.6875;
	letter-spacing: 1.15px;
}

.header__form {
	margin-top: 40px;
}

.header__img img {
	border-radius: 40px 40px 40px 0;
}
